* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

html,
body {
  font-family: 'Lexend';
}

body {
  /* display: none; */
  overflow-x: hidden;
  background-color: #E0E7FF;
}

header {
  background-color: #0047ab;
  color: #F1F1F1;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 0 3vw; */
}

.header-content {
  display: flex;
  align-items: center;
  padding: 0 5vw 0 5vw;
}

.header-content a {
  text-decoration: none;
  color: #F1F1F1;
  display: flex;
  align-items: center;
}

.header-content img {
  padding-right: 1vw;
  width: 4vw;
  height: 6vh;
}

.header-content h1 {
  font-size: 1.2rem;
  font-family: 'Lexend';
}

.header-buttons {
  position: absolute;
  right: 1vw;
}

.header-buttons button {
  color: #F1F1F1;
  font-weight: bold;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 1rem;
  padding: 1vh 2vw;
  scale: 1;
  transition: .4s ease-in-out;
}

.header-content button:hover {
  color: #A5B4FC;
  scale: 1.1;
}

main {
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main > h1, main > p {
  font-size: 1.2rem;
  margin-bottom: 2.5rem;
}

.options {
  width: 100vw;
  display: flex;
  justify-content: center;
  gap: 10rem;
}

.options > button {
  border: none;
  background-color: #5C93E0;
  color: #F1F1F1;
  font-family: 'Lexend';
  border-radius: .8rem;
  height: 5rem;
  width: 8rem;
  scale: 1;
  transition: .4s ease-in-out;
}

.options > button:hover {
  scale: 1.1;
  background-color: #5498F7;
}

footer {
  height: 10vh;
  background-color: #0047AB;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 1rem;
}

footer > p {
  color: #F1F1F1;
  font-size: 1rem;
  font-weight: bold;
  padding-top: 1rem;
  font-family: 'Inter';
}
