table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #ddd;
}

td input[type="radio"] {
  display: block;
  margin: 0 auto;
}

h3 {
  text-align: center;
}
