<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Painel</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Lexend:wght@400;500;700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="../css/dashboard.css" />
  </head>
  <body>
    <header>
      <div class="header-content">
        <a href="./dashboard.html">
          <img src="../icons/icons8-survey-50.png" alt="Logo" />
          <h1 id="company-name"></h1>
        </a>
        <div class="header-buttons">
          <button
            id="button-employee-registration"
            onclick="window.location.href='./sign-up.html'"
          >
            <p>Cadastrar Funcionário</p>
          </button>
          <button id="logout-btn">Logout</button>
        </div>
      </div>
    </header>

    <main>
      <h1>Seja bem-vindo!</h1>
      <p id="person-name"></p>

      <div class="options">
        <button id="organizational-controls">
          5. Controles Organizacionais
        </button>
        <button id="controls-for-people">6. Controles de pessoas</button>
        <button id="physical-controls">7. Controles físicos</button>
        <button id="technological-controls">8. Controles tecnológicos</button>
        <button id="result">Resultados</button>
      </div>
    </main>

    <footer>
      <div class="top-row">
        <div class="column">
          <p id="cnpj"></p>
        </div>
        <div class="column">
          <p id="postal-code"></p>
        </div>
        <div class="column">
          <p id="street"></p>
        </div>
      </div>
      <div class="bottom-row">
        <div class="column">
          <p id="city"></p>
        </div>
        <div class="column">
          <p id="state"></p>
        </div>
      </div>
    </footer>

    <script type="module" src="../scripts/dashboard.js"></script>
  </body>
</html>
